.advantages-section {
  .p-sticky {
    position: sticky;
    top: 80px;
  }

  .myborder {
    border-bottom: 2px solid $color_primary;
  }
  .advantages-card-container {
    background-color: $color_background_shape;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0 0 5px 1px rgba(155, 155, 155, 0.26);

    h3 {
      margin-bottom: 20px;
    }

    h6 {
      font-weight: bold;
    }

    p {
      margin-top: 15px;
    }
  }
}
