.banner {
  h1 {
    margin-top: 50px;
  }

  .img-container {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  img {
    height: 800px;
    object-fit: fill;
    border-radius: 3px;
  }

  p {
    margin: 50px 0;
    font-size: 1.4rem;
  }
}
